body{
  background-color: #845BB3;
  color: white;
  display:flex;
  justify-content:space-evenly;
  column-gap: 20px ;
  padding: 0px 10px
}

@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
  }
}

main{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap:20px;
  column-gap:5%;
}

aside {
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  gap:35px;
  padding-top: 5px;
}

p {
  margin: 8px 5px;
}

.submit-button{
  margin-top:5px;
}

.rep-button{
  font-size: .7rem;
  margin: 1px
}

.rep-{
  padding:1px 6px
}

@media screen and (max-width: 390px) {
  form:nth-child(2) {
    display: none;
  }
}